---
title: Hello GitLab
---

<h2>Welcome to devcafe!</h2>

<img src="/images/haskell-logo.png" style="float: right; margin: 10px;">

<p>Here are the most recent minutes from our discussions:</p>

<h2>Posts</h2>
$partial("templates/post-list.html")$

<p>…or you can find more in the <a href="/archive.html">archives</a>.</p>
